.welcome{
    max-width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}
.welcome h1{
    font-size: 32px;
    margin: 0;
}

.welcome p{
    text-align: center;
    margin: 5px;
}